.hidden {
  display: none !important; 
/*   display: block; */
}
.bgimg{
  background-image: url("https://images.alphacoders.com/764/764864.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  position: relative;
  background-position: center;
}

.title1{
  font-size: 64px;
  text-align: center ;
  color: #1ac9e0;
}



h3 {
/*   color: red ; */
  font-size: 24px;
}



.travelCardSanJose, .travelcardFrance, .travelcardJapan, .followdirection, .toopoor {
  display: flex;
  flex-direction: column; 
  justify-content:  space-between;
}

.travelcardSanJose, .travelcardFrance, .travelcardJapan, .followdirection, .toopoor
{
  width: 500px;
  border: 1px solid black;
  min-height: 400px;
  padding: 50px;
 justify-content: center;
  vertical-align: middle
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid #14086d;
  padding: 20px;
}
div {
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
}
img {
  border: 1px solid #d1ebff;
}


html, body {
  height: 100%;
  width: 100%;
};